body {
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  background-color: rgb(34, 34, 34);
}

.title {
  font-size: 30px;
  font-weight: 700;
}

.img {
  width: 70px;
}

.btn {
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 100px;
  padding: 30px;
  margin: 15px;
}

.result {
  font-size: 30px;
  font-weight: 700;
}

.btn-reset {
  font-size: 16px;
  padding: 10px;
  border: none;
}